html {
    width: 100%;
    height: 100%;
}

body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: rgb(176, 4, 4);
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 200%;
    color: aliceblue;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    height: 250px;
    width: 40%;
    background-color: rgb(255, 229, 169);
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 30px;
}

label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

input {
    border: 1px solid rgb(69, 68, 68);
    border-radius: 5px;
}

#caixaParaBotao {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
}

button {
    font-family: "Archivo Black", sans-serif;
    width: 30%;
    height: 50px;
    background-color: rgb(207, 4, 4);
    color: rgb(216, 219, 222);
    text-transform: uppercase;
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(176, 4, 4);
}